.welcome-container{
    height: 100%;
}
.header-container{
    position: fixed;
    left: 0;
	top: 0;
    width: 100%;
    z-index: 100;
    background: #afaeae;
}
.content-container{
    width: 100%;
    padding-top: 50px;
    height: 100%;
}

.sideBar-container{
    position: fixed;
    z-index: 50;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    box-shadow: 5px 0px 5px #afaeae;
    overflow-y: scroll;
}

.workspace-container{
    padding-left: 30px;
    padding-top: 30px;
    background: #FFFFFF;
    height: calc(100% - 50px);
}