<div>

  <form [formGroup]="forecastForm">

    <div class="forecastUp-contenedor">


      <div class="forecastRight-contenedor">

        <label class="my-1 mr-2" for="servicios">Servicios</label>
        <div class="servicios" id="servicios">

          <div class="custom-control custom-radio" *ngFor="let servicio of servicios">
            <input type="radio" id={{servicio.codigo}} name="servicio" class="custom-control-input" value={{servicio.codigo}} (click)="onClickServicio($event)" formControlName="servicio">
            <label class="custom-control-label" for={{servicio.codigo}}>{{servicio.nombre}}</label>
          </div>

        </div>

      </div>

      <div class="forecastLeft-contenedor">

        <div class="form-group" id="naves" *ngIf="filtroNaves">
          <label class="my-1 mr-2" for="nave">Naves</label>
          <input type="text" class="form-control filtroNave" id="nave" #nave placeholder="Ingrese una nave" (input)="search(nave.value)">
          <select class="custom-select" size="7">
            <option value={{nave.codigo}} *ngFor="let nave of filtroNaves" >{{nave.shortName}} - {{nave.longName}}</option>
          </select>
        </div>

      </div>

    </div>

    <div class="forecastBottom-contenedor">

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Seleccione un archivo</label>
      </div>

      <button type="button" class="btn btn-primary">Procesar</button>

      <div class="forecast-resultados">

      </div>

    </div>

  </form>

</div>