<div class="accordion" id="menuList">
  <ul class="menu">
    <li *ngFor="let menu of menus, let i = index">
      <a [href]="'#' + menu.nombre" class="nombreMenu" [attr.data-toggle]="'collapse'"
        [attr.data-target]="'#' + menu.nombre" [attr.aria-controls]="menu.nombre" (click)="clickMenu(i)"
        [ngClass]="{ 'active': menu.activo }">
        {{menu.alias | capitalizado}}
        <i [ngClass]="{ 'fa-caret-right': !menu.expanded, 'fa-caret-down': menu.expanded }" class="fa menuIcon"></i>
      </a>

      <ul class="collapse submenu" [id]="menu.nombre" data-parent="#menuList">
        <li [id]="subMenu.nombre" *ngFor="let subMenu of menu.subMenus" routerLinkActive="active">
          <a class="nombreSubMenu" [routerLink]="[subMenu.ruta]" (click)="clickSubMenu(i)">
            {{subMenu.alias | capitalizado}} - {{subMenu.ruta}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>