<h1 class="m-3">

    Datos Personales</h1>
<hr class="m-3">

<div class="row justify-content-center m-5" *ngIf="usuario && tidoc">


    <div class="col-md-4 imagen text-center">

        <app-imagen-usuario></app-imagen-usuario>
    </div>

    <div class="col-md-8 datos">

        <table class="table table-borderless mt-3">
            <tbody>
                <tr>
                    <td>Código:</td>
                    <td>{{usuario.coPers}}</td>
                </tr>
                <tr>
                    <td>{{tidoc.alTiDocu}}:</td>
                    <td>{{usuario.nuDocu}}</td>
                </tr>
                <tr>
                    <td>Nombres:</td>
                    <td>{{usuario.noPers}}</td>
                </tr>
                <tr>
                    <td>Ap. Paterno:</td>
                    <td>{{usuario.apPate}}</td>
                </tr>
                <tr>
                    <td>Ap. Materno:</td>
                    <td>{{usuario.apMate}}</td>
                </tr>
                <tr>
                    <td>Sexo:</td>
                    <td>
                        <span *ngIf="usuario.sexo=='M'">Masculino</span>
                        <span *ngIf="usuario.sexo=='F'">Femenino</span>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{usuario.email}}</td>
                </tr>
                <tr>
                    <td>Fecha Nac.:</td>
                    <td>{{usuario.feNaci | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                    <td>Usuario:</td>
                    <td>{{usuario.noUsua}}</td>
                </tr>
                <tr>
                    <td>Perfil:</td>
                    <td>{{usuario.noPerf}}</td>
                </tr>
            </tbody>
        </table>


        <button class="btn btn-outline-primary" (click)="editarPerfil()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Editar Datos
        </button>
    </div>
</div>