<div class="login-container">
  <div class="form-container">
    <div class="gacela-container">
      <img src="../../../assets/Images/gacela.svg" class="imageGacela">
    </div>

    <div *ngIf="error" class="alert alert-danger">
      {{error}}
    </div>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
  
        <div class="inputUsuario">
            
          <input type="text" class="form-control noUsua" id="noUsua" placeholder="Usuario" formControlName="noUsua" required/>
          <i class="fa fa-user errspan" aria-hidden="true"></i>
            
          <div *ngIf="noUsua.invalid && (noUsua.dirty || noUsua.touched)" class="alert alert-danger">
            <div *ngIf="noUsua.errors.required">
              Debe ingresar un usuario
            </div>
          </div>
  
        </div>
  
      </div>
      
  
  
      <div class="form-group">
  
        <div class="inputPassword">
              
          <input type="password" class="form-control pasUsua" id="pasUsua" placeholder="Contraseña" formControlName="pasUsua" required/>
          <i class="fa fa-lock errspan" aria-hidden="true"></i>
              
          <div *ngIf="pasUsua.invalid && (pasUsua.dirty || pasUsua.touched)" class="alert alert-danger">
  
            <div *ngIf="pasUsua.errors.required">
              Debe ingresar una contraseña
            </div>
      
          </div>
        </div>
  
      </div>
     
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Iniciar Sesión</button>
      </div>

    </form>

    <div class="opciones">
      <ul>
        <li><a href="#">Olvidé mi contraseña</a></li>
        <li><a href="https://wollcorp.cloud.invgate.net">Solicita tu acceso</a></li>
      </ul>
    </div>
  </div>
</div>