.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

.container{
  margin-top: 80px;  
  padding: 20px;
  width: 40%;
  border: 1px solid #a7a8a7;
  border-radius: 10px;
  background: #a7a8a7;
}

@media screen and (max-width: 800px) {
  .container{
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .container{
    width: 100%;
  }
}