.navbar-container {
    background: #0AA45E;
    width: 100%;
    min-width: 300px;
}

.subnav{
    width: 90%;
    max-width: 1300px;
    margin: auto;
    color: #FFFFFF;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;

}

.subnav a {
    color: #FFFFFF;
}

.menu {
    text-decoration: none;
    font-size: 15pt;
    font-weight: lighter;
}

.marca {
    font-size: 30pt;
}


@media screen and (max-width: 800px) {
    .subnav{
      width: 95%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .subnav{
      width: 95%;
    }
  }