.navbar-container {
  background: #0AA45E;
  width: 100%;
  min-width: 300px;
  box-shadow: 0px 3px 3px #afaeae;
}

.subnav{
  width: 90%;
  max-width: 1300px;
  margin: auto;
  color: #FFFFFF;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;

}

.subnav a {
  color: #FFFFFF;
}

.icon-menu {
  text-decoration: none;
  font-size: 20pt;
  font-weight: lighter;
}

.icon-menu:hover{
  cursor: pointer;
}

.marca {
  padding-left: 10px;
  font-size: 25pt;
}


@media screen and (max-width: 800px) {
    .subnav{
      width: 95%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .subnav{
      width: 95%;
    }
  }