<nav class="navbar-container pt-2 pb-2" *ngIf="usuario">

    <div class="row justify-content-between align-items-center">
        <div class="col" *ngIf="usuario">
            <img *ngIf="usuario.rutaImagen" [src]="usuario.rutaImagen" width="30" height="30" class="d-inline-block usuarioImagen" alt="Usuario" />
            <img *ngIf="!usuario.rutaImagen" src="assets/Images/usuario.png" width="30" height="30" class="d-inline-block usuarioImagen" alt="Usuario" /> {{usuario.noPers | capitalizado}}
        </div>

        <div class="col text-center">
            <span class="marca">GACELA</span>
        </div>

        <div class="col text-right">
            <button class="btn btn-link logout" type="button" (click)="logout()">
        <i class="fa fa-sign-out salir"></i>
        Salir
      </button>
        </div>
    </div>

</nav>