<h1 class="mt-5">Cambio de Contraseña</h1>
<hr>

<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert" *ngIf="exito">
            <h4 class="alert-heading">Datos guardados</h4>
            <p>La contraseña fue actializada con éxito</p>
            <hr>
            <p class="mb-0">Debe volver a ingresar al sistema</p>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="!exito && error">
            <h4 class="alert-heading">Error</h4>
            <p>{{error}}</p>
        </div>
    </div>
</div>

<div class="row mt-5 pr-5 pl-5">

    <div class="col-lg-3 text-center align-items-center">

        <span><i class="fa fa-key fa-5x"></i></span>

    </div>
    <div class="col-lg-9">

        <form [formGroup]="forma">

            <div class="form-group row">
                <label for="usuario" class="col-lg-3 col-sm-4 col-form-label">Usuario</label>
                <div class="col-lg-9 col-sm-8">
                    <input type="text" class="form-control" id="usuario" formControlName="noUsua"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="paUsua" class="col-lg-3 col-sm-4 col-form-label">Contraseña Actual</label>
                <div class="col-lg-9 col-sm-8">
                    <input type="password" class="form-control" id="paUsua" placeholder="Contraseña actual"
                        formControlName="paUsua"
                        [ngClass]="{ 'is-invalid': forma.controls['paUsua'].invalid && !forma.controls['paUsua'].pristine }" />
                    <div class="invalid-feedback">
                        Debe escribir su contraseña actual
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="password1" class="col-lg-3 col-sm-4 col-form-label">Nueva Contraseña</label>
                <div class="col-lg-9 col-sm-8">
                    <input #password1 type="password" class="form-control" id="password1"
                        placeholder="Escriba su nueva contraseña" formControlName="password1" [ngClass]="{ 'is-valid': iguales &&
                                                !forma.controls['password1'].pristine &&
                                                !forma.controls['password2'].pristine,
                                    'is-invalid': !iguales && 
                                                !forma.controls['password1'].pristine &&
                                                !forma.controls['password2'].pristine }"
                        (keyup)="sonIguales(password1.value, password2.value)" />
                </div>
            </div>


            <div class="form-group row">

                <label for="password2" class="col-lg-3 col-sm-4 col-form-label">Repetir Contraseña</label>
                <div class="col-lg-9 col-sm-8">
                    <input #password2 type="password" class="form-control" id="password2"
                        placeholder="Vuelva a escribir su contraseña" formControlName="password2" [ngClass]="{ 'is-valid': iguales&& 
                                                !forma.controls['password2'].pristine &&
                                                !forma.controls['password1'].pristine,
                                    'is-invalid': !iguales && 
                                                !forma.controls['password1'].pristine &&
                                                !forma.controls['password2'].pristine }"
                        (keyup)="sonIguales(password1.value, password2.value)" />

                    <div class="invalid-feedback">
                        Las contraseñas no coinciden
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <button type="submit" [disabled]="forma.invalid || !iguales || cargando" class="btn btn-outline-primary btn-block" (click)="changePassword()">
                        <i [ngClass]="{'fa-spinner fa-pulse': cargando,'fa-floppy-o': !cargando}" class="fa"></i>
                        <span *ngIf="!cargando"> Guardar</span>
                        <span *ngIf="cargando"> Cargando...</span>
                    </button>
                </div>

                <div class="col-lg-6">
                    <button type="button" class="btn btn-outline-danger btn-block" (click)="onCancel()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Cancelar
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>